@font-face {
  font-family: 'Open Sans';
  src: url('/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans';
}

.settings {
  display: flex;
  justify-content: flex-end;
}

.settings-content {
  display: none;
  width: 600px;
  height: 400px;
}

#settings-button {
  height: 48px;
  width: 48px;
  outline: none;
  border: solid 3px #f00;
  cursor: pointer;
}

ul.themes {
  list-style-type: none;
}

ul.themes li.theme {
  margin: 5px 0;
  font-size: 16px;
}

.theme-name {
  display: inline;
}

.themes-section {
  font-weight: bold;
  position: relative;
  top: 7px;
}

.tab-list {
  width: 450px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.tab-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 33px;
  border-top: solid 1px #faf3f3;
  border-bottom: none;
}

.theme-classic {
  background-color: #fff;
  color: #000;
}

.theme-dark {
  background-color: #15111d;
  color: #fff;
}

.tab-row:hover {
  background-color: silver;
  cursor: pointer;
}

.tab-row img {
  height: 16px;
  width: 16px;
  display: flex;
}

.tab-title {
  font-size: 0.8rem;
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: calc(100% - 40px);
  max-width: calc(100% - 40px);
}

.tab-desc {
  white-space: nowrap;
  overflow: hidden;
  /* width: 380px; */
  width: calc(100% - 40px);
  display: block;
  text-overflow: ellipsis;
}

.active {
  background: #8BC34A;
}

  .active .tab-desc {
    font-weight: 700;
  }


.close-button {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  /* padding-right: 10px; */
  position: absolute;
  right: 20px;
}

.close-button i {
  pointer-events: none;
}

.speaker {
  height: 16px;
  width: 16px;
  margin: 0 5px;
}

.hidden {
  display: none;
}

.offset {
  position: relative;
  left: 21px;
  top: -6px;
}

.group {
  border: solid 1px #000;
  margin-bottom: 10px;
}

.group:nth-last-child(1) {
  margin-bottom: 0;
}

.group > .group-title {
  padding: 4px 10px;
  color: #000;
  background: #90CAF9;
  border-bottom: solid 1px #9c989c;
}

.group > .group-title.current {
  background: cornflowerblue;
  font-weight: bold;
  color: #fff;
}

.incognito > .group-title {
  background: #6c6b6b;
  height: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filterBox {
  height: 20px;
  font-size: 1em;
  margin-bottom: 9px;
  width: 80%;
  margin-top: 7px;
}

.filterBox::placeholder {
  font-style: italic;
  color: #afabab;
}

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.remove-filter {
  height: 24px;
  cursor: pointer;
  position: relative;
  right: 27px;
}

.hightlighted {
  background-color: silver;
}

.favicon {
  padding-left: 10px;
}