@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

:root {
  --black-theme-background: #121212;
  --purple: #9C27B0;
  --hover-color: #00459b;
  --dark-theme-background: #333;
  --dark-theme-hover: #1565c0;
}

.black-theme {
  background: var(--black-theme-background);
  color: #fff;
}

.dark-theme {
  background: var(--dark-theme-background);
  color: #fff;
}

body.black-theme {
  border: solid 1px #5a5a5a;
}

.settings {
  display: flex;
  justify-content: flex-end;
}

.settings-content {
  display: none;
  width: 600px;
  height: 400px;
}

#settings-button {
  height: 48px;
  width: 48px;
  outline: none;
  border: solid 3px #f00;
  cursor: pointer;
}

ul.themes {
  list-style-type: none;
}

ul.themes li.theme {
  margin: 5px 0;
  font-size: 16px;
}

.theme-name {
  display: inline;
}

.themes-section {
  font-weight: bold;
  position: relative;
  top: 7px;
}

.tab-list {
  width: 570px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.tab-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: solid 1px #504d4d;
  border-bottom: none;
  height: 32px;
  padding: 5px 0;
}

.theme-classic {
  background: #fff;
  color: #000;
}

.theme-dark {
  background: #15111d;
  color: #fff;
}

.tab-row:hover {
  background: silver;
  cursor: pointer;
}

.dark-theme .tab-row:hover {
  background-color: var(--dark-theme-hover);
}

.black-theme .tab-row:hover {
  background: var(--hover-color);
}

.tab-row img {
  height: 24px;
  width: 24px;
  display: flex;
}

.tab-title {
  font-size: 0.83rem;
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: calc(100% - 80px);
}

.tab-desc {
  white-space: nowrap;
  overflow: hidden;
  /* width: 380px; */
  width: calc(100% - 40px);
  display: block;
  text-overflow: ellipsis;
}

.dark-theme .tab-desc {
  color: #d5d5d5;
}

.dark-theme .tab-row.active .tab-desc {
  color: #fff;
  font-weight: 500;
}

.black-theme .active .tab-desc {
    color: #fff;
}

.place-holder {
  height: 43px;
  width: 5px;
}

/*
.active .place-holder {
  /* background: #e621f3; */
  /* visibility: visible; */
/* } */

/* .tab-row.active {
  background: #5e5c5c;
} */

.close-button {
  padding-right: 10px;
  height: 1rem;
  width: 1rem;
}

.close-button::after {
  content: url('../images/svg/times-circle.svg');
}

.black-theme .close-button::after {
  content: url('../images/svg/times-circle.svg');
  filter: invert(1);
  -webkit-filter: invert(1);
}

.dark-theme .close-button::after {
  content: url('../images/svg/times-circle.svg');
  filter: invert(1);
  -webkit-filter: invert(1);
}

.close-button i {
  pointer-events: none;
}

.speaker {
  /* height: 16px;
  width: 16px;
  margin-left: 3px;
  margin-right: 5px;
  visibility: hidden; */

  height: 20px;
  width: 20px;
  margin-left: 3px;
  margin-right: 9px;
  visibility: hidden;
}

.speaker.volume-up::after {
  content: url('../images/svg/volume-up-solid.svg');
  visibility: visible
}

.speaker.volume-mute::after {
  content: url('../images/svg/volume-mute-solid.svg');
  visibility: visible
}

.black-theme .speaker.volume-up::after {
  content: url('../images/svg/volume-up-solid.svg');
  visibility: visible;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.black-theme .speaker.volume-mute::after {
  content: url('../images/svg/volume-mute-solid.svg');
  visibility: visible;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.dark-theme .speaker.volume-up::after {
  content: url('../images/svg/volume-up-solid.svg');
  visibility: visible;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.dark-theme .speaker.volume-mute::after {
  content: url('../images/svg/volume-mute-solid.svg');
  visibility: visible;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.hidden {
  display: none;
}

.offset {
  position: relative;
  left: 21px;
  top: -6px;
}

.group {
 padding: 5px 0;
}

.group:nth-last-child(1) {
  margin-bottom: 0;
}

.light-theme .group > .group-title {
  padding: 4px 10px;
  color: #fff;
  background: #2e3a7abd;
  font-size: 0.9rem;
}

.black-theme .group > .group-title {
  padding: 4px 10px;
    color: #fff;
    background: #455A64;
    border-bottom: solid 1px #9c989c;
}

.group > .group-title.current {
  background: #303F9F;
  color: #fff;
}

.black-theme .group > .group-title.current {
  background: #673AB7;
  color: #fff;
}

.dark-theme .group > .group-title {
  /* background: #303F9F; */
  color: #fff;
}

.incognito > .group-title {
  background: #6c6b6b;
  height: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filterBox {
  height: 23px;
  font-size: 1em;
  margin-bottom: 9px;
  width: 80%;
  margin-top: 7px;
  outline: none;
  /* border: none; */
  padding-left: 10px;
}

.filterBox::placeholder {
  font-style: italic;
  color: #999797;
}

.black-theme .filterBox {
  background: none;
  color: #fff;
  border: none;
  border-bottom: solid 2px silver;
}

.dark-theme .filterBox {
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: solid 1px #03DAC5;
}

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.remove-filter {
  height: 24px;
  cursor: pointer;
  position: relative;
  right: 27px;
}

.hightlighted {
  background-color: silver;
}

.black-theme .hightlighted {
  background: var(--hover-color);
}

.dark-theme .hightlighted {
  background: var(--dark-theme-hover);
}

.favicon {
  padding-left: 10px;
}

.dark-theme .tab-row.active {
  background: #5e5e5e;
}

.black-theme .tab-row.active {
  background: #494949;
}

.light-theme {
  background: #dee1e6ad;
}


.light-theme .tab-row.active {
  font-weight: 600;
  background: #fff;
}


.groups {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px;
}

.tab-group {
  height: 20px;
  min-width: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  padding: 1px 6px;
  cursor: pointer;
  color: #fff;
  margin-right: 10px;
}